127.0.0.1	localhost localhost.localdomain localhost4 localhost4.localdomain4
::1		localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ gfs1_ip }}	{{ gfs1_hostname }}.lab.local {{ gfs1_hostname }}
{{ gfs2_ip }}	{{ gfs2_hostname }}.lab.local {{ gfs2_hostname }}
{{ gfs3_ip }}	{{ gfs3_hostname }}.lab.local {{ gfs3_hostname }}