#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   https://www.haproxy.org/download/1.8/doc/configuration.txt
#
#---------------------------------------------------------------------
# `defaults section`: settings that are shared across all sections that follow
#-------------------------
# GLOBAL SETTINGS
#-------------------------
global
  log     127.0.0.1 local2
  chroot  /var/lib/haproxy
  pidfile /var/run/haproxy.pid
  maxconn 4000
  user	  haproxy
  group	  haproxy
  daemon
  stats	socket	/var/lib/haproxy/stats
#-------------------------
# DEFAULTS CONFIGURATION
#-------------------------
defaults
  mode http
  log  global
  timeout client 10s
  timeout connect 5s
  timeout server 10s 
  timeout http-request 10s
  stats   enable

#-------------------------
# FRONTENDS
#-------------------------
frontend syslog
  mode tcp
  bind *:514
  default_backend syslog_backend
#-------------------------
# BACKENDS
#-------------------------

backend syslog_backend
  mode tcp
  balance roundrobin
  server syslog1 192.168.2.21:514 check
  server syslog2 192.168.2.22:514 check

# backend def_backend
#   mode tcp
#   balance roundrobin
#   server def_serv1 192.168.2.101:8000 check inter 2s fall 3 rise 2
#   server def_serv2 192.168.2.101:8001 check inter 3s fall 2 rise 3