127.0.0.1	localhost localhost.localdomain localhost4 localhost4.localdomain4
::1		localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ pcmk1_ip }}	{{ pcmk1_hostname }}.lab.local {{ pcmk1_hostname }}
{{ pcmk2_ip }}	{{ pcmk2_hostname }}.lab.local {{ pcmk2_hostname }}